<?xml version="1.0" encoding="UTF-8"?>

<config charset="UTF-8">

    <var-def name="pages">
        <!--We are going to take first 7 pages -->
        <while condition="true" index="i" maxloops="2">
            <var-def name="page${i}">
                <!--That is an initial search query -->
                <template>http://auto.yandex.ru/search.xml?text=bmw%205&amp;page_num=${i}</template>
            </var-def>
        </while>
    </var-def>


    <var-def name="priceList">
        <loop item="page">
            <!--Iterate through all defined pages -->
            <list>
                <var name="pages"/>
            </list>
            <body>
                <!-- not empty element and have no parameters (p could be a parent - that's because of "info block" on firts page -->
                <xpath expression="//b[text()][not(@*) and not(parent::p)]/text()[normalize-space()]">
                    <html-to-xml>
                        <!-- Each page from the list of predefined pages will be used to extract price using XPath -->
                        <http url="${page}"/>
                    </html-to-xml>
                </xpath>
            </body>
        </loop>
    </var-def>

    <var-def name="descriptionList">
        <loop item="page">
            <!--Iterate through all defined pages -->
            <list>
                <var name="pages"/>
            </list>
            <body>
                <!-- Result part is childless, have no parameters and it can't be <div>'s child -->
                <xpath expression="//ul[not(parent::div)]/li[not(@*|*)]/text()[normalize-space()]">
                    <html-to-xml>
                        <!-- Each page from the list of predefined pages will be used to extract price using XPath -->
                        <http url="${page}"/>
                    </html-to-xml>
                </xpath>
            </body>
        </loop>
    </var-def>

    <var-def name="cityDateList">
        <loop item="page">
            <!--Iterate through all defined pages -->
            <list>
                <var name="pages"/>
            </list>
            <body>
                <!-- We are examining string lenght to throw away text with 3 spaces-->
                <xpath expression="//li[@class='btm']/text()[normalize-space()][string-length()>3]">
                    <html-to-xml>
                        <!-- Each page from the list of predefined pages will be used to extract city and date using XPath -->
                        <http url="${page}"/>
                    </html-to-xml>
                </xpath>
            </body>
        </loop>
    </var-def>

    <var-def name="yearList">
        <loop item="page">
            <!--Iterate through all defined pages -->
            <list>
                <var name="pages"/>
            </list>
            <body>
                <!-- We are examining string lenght to throw away text with 3 spaces-->
                <xpath expression="//span[@class='year']/text()[normalize-space()]">
                    <html-to-xml>
                        <!-- Each page from the list of predefined pages will be used to extract city and date using XPath -->
                        <http url="${page}"/>
                    </html-to-xml>
                </xpath>
            </body>
        </loop>
    </var-def>

    <var-def name="modelList">
        <loop item="page">
            <!--Iterate through all defined pages -->
            <list>
                <var name="pages"/>
            </list>
            <body>
                <!-- We are examining string lenght to throw away text with 3 spaces-->
                <xpath expression="//h4/*/text()[normalize-space()]">
                    <html-to-xml>
                        <!-- Each page from the list of predefined pages will be used to extract city and date using XPath -->
                        <http url="${page}"/>
                    </html-to-xml>
                </xpath>
            </body>
        </loop>
    </var-def>

</config>